.header-container{
    display: flex;
    min-height: 50px;
    background-color: $bgheader;
    justify-content: space-between;
    align-items: center;
    
    .logo-container{
        img{
            display: flex;
            width: 100px;
            height: 50px;
        }
    }

    .text-container{
        a{
            display: flex;
            color: $txtnav;
            text-decoration: none;
            font-size: 23px;
            font-style: italic;
            font-family: $fontSegoe;
        }
    } 

    .navbar {
        ul{
            display: flex;
            list-style: none;
            font-size: $fontsizephotos;
            justify-content: space-between;
        }
    
        a{
            display: flex;
            padding: 10px;
            justify-content:space-around;
            color: $txtnav;
            font-weight: 500;
            font-family: $fontSegoe;
            text-decoration: none;
        }
        .enlaces:visited{
            color:blue
        }
        .enlaces:hover{
           color: white
        }
        .enlaces:active{
            color:lime
        }
    }
}




