.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 33% 7% 25% 10% 25%;
    grid-column-gap: 5%;
    background-color: $bgheader;
    grid-template-areas: 
    'I1 I1'
    'I2 I2'
    'I3 I4'
    'I7 I7'
    'I5 I6';

    .grid-item{
        font-size: 21px;
    }

    /*CSS Primer item I1*/

    .first-item {
        grid-area: I1;
        display: inline-block;

        .firstitem-img {
            display: flex;
            border-radius: 15px;
            @include size(100%,100%);
        }

        .firstitem-recuadro {
            @include size(35%,45%);
            border: solid 1px;
            position: relative;
            display: flex;
            background-color: currentColor;
            opacity: 70%;
            top: -70%;
            left: 35%;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            @include tablet {
                display: none;
            }
        }

        .firstitem-texto {
            @include size(35%,45%);
            display: flex;
            position: relative;
            top: -115%;
            left: 35%;
            flex-direction: column;
            justify-content: space-around;

            @include tablet {
                display: none;
            }
        }

        .firstitem-h2,
        .firstitem-h4 {
            color: $white;
            font-weight: bolder;
            font-style: italic;
            font-size: 30px;
        }

        .firstitem-p {
            color: $white;
            font-size: 20px;
            font-style: italic;
        }
    }

    /*CSS segundo item I2*/

    .second-item {
        grid-area: I2;
        background-color: $white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        @include tablet {
            display: none;
        }

        .seconditem-h2 {
            font-size: 25px;
            color: $lime;
        }

        .seconditem-p {
            font-size: auto;
            color: $lime;
        }
    }

     /*CSS tercer item I3*/

    .third-item {
        grid-area: I3;
        display: flex;
        flex-direction: column;
        transform: translate(20%, 0);

        @include tablet {
            transform: translate(20%, -25%);
        }

        .thirditem-img {
            @include size(75%,75%);
            border-radius: 15px;
        }

        .thirditem-h2,
        .thirditem-p {
            width: 75%;
        }

        .thirditem-p {
            @include phone {
                font-size: 16px;
            }
        }
    }

    /*CSS cuarto item I4*/

    .four-item {
        grid-area: I4;
        display: flex;
        flex-direction: column;

        @include tablet {
            transform: translate(0%, -25%);
        }

        .fouritem-img {
            @include size(75%,100%);
            border-radius: 15px;
        }

        .fouritem-h2,
        .fouritem-p {
            width: 75%;
        }

        .fouritem-h2 {     
            @include phone {
                font-size: 17px;
            }
        }

        .fouritem-p { 
            @include tablet {
                font-size: 12px;
            }
            
            @include phone {
                font-size: 10px;
            }
        }
    }

     /*CSS quinto item I5*/

    .five-item {
        grid-area: I5;
        display: flex;
        flex-direction: column;
        transform: translate(20%, -33%);

        @include tablet {
            transform: translate(20%, -60%);
        }

        .fiveitem-img {
            @include size(75%,100%);
            border-radius: 15px;
        }

        .fiveitem-h2,
        .fiveitem-p {
            width: 75%;
        }

        .fiveitem-p {
            @include phone {
                font-size: 16px;
            }
        }
    }

     /*CSS sexto item I6*/
        
    .six-item {
        grid-area: I6;
        display: flex;
        flex-direction: column;
        transform: translate(0%, -3%);

        @include tablet {
            transform: translate(0%, -15%);
        }

        .sixitem-img {
            @include size(70%,70%);
            border-radius: 15px;
        }

        .sixitem-h2,
        .sixitem-p {
            width: 75%;
        }

        .sixitem-p {
            @include tablet {
                font-size: 17px;
            }

            @include phone {
                font-size: 12px;
            }
        }
    }

     /*CSS septimo item I7*/

    .seven-item{
        grid-area:I7;
    }
        
}

