.ppal-container {
    display: flex;
    max-width: $maxwidthphoto;
    height: auto;
    justify-content: center;
    margin: 10px;

    .carousel {
        max-width: $maxwidthphoto;
        height: auto;
        
        .carousel-inner {
            max-width: $maxwidthphoto;
            height: auto;
            
            .d-block {
                max-width: $maxwidthphoto;
                height: auto;
                object-fit: contain;
            }
        }
    }
}

.photos-container {
    display: flex;
    width: $maxwidthphoto;
    height: 490px;
    background-color: $bgheader;
    justify-content: center;
    align-items: center;

    .photos {
        display: flex;
        width: 90%;
        margin-top: 0 auto;
        justify-content: space-around;
        flex-wrap: wrap;

        .photos-ancho1,
        .photos-ancho2,
        .photos-ancho3,
        .photos-ancho4 {
            width: 22%;
            text-align: center;
            margin: $marginphoto;
            box-shadow: 0 4px 8px $boxshad;
            border-radius: 8px;
            overflow: hidden;
            border: 2px solid $photoborder;
            padding: 5px;

            @include tablet {
                &.photos-ancho1,
                &.photos-ancho2 {
                    width: 40%;
                }

                &.photos-ancho3 {
                    display: none;
                }
            }

            @include phone {
                &.photos-ancho1 {
                    width: 70%;
                }

                &.photos-ancho2 {
                    display: none;
                }
            }

            @include desktop {
                &.photos-ancho4 {
                    display: none;
                }
            }
        }

        .photos-titulos {
            margin-top: 15px;
            font-size: 1.5rem;
            color: $photo-tit-text;
            font-weight: bold;
        }

        .photos-img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 6px;
        }

        .photos-text {
            font-size: 1rem;
            font-style: italic;
            color: $photo-tit-text;
        }
    }
}

