

//Tamaño media queries
$phone: 500px;
$tablet: 760px;
$desktop:1000px;

//Colores
$bgheader: bisque;
$bgfooter: rgb(132, 139, 137);
$txtnav: rgb(10, 6, 6);
$blue: rgb(26, 26, 211);
$white: rgb(223, 212, 212);
$lime: rgb(33, 221, 33);


//Fuente
$fontSegoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//Tamaños
$widthphoto: 250px;
$fontsizephotos: 15px;

